html {
    background:                         black;
}

code {
    word-break:                     break-all;
    color:                         lightgreen;
    background:                         black;
}
