code .subject, code.subject {
    color:                             yellow;
    background:                         black;
}

code .pattern, code.pattern {
    color:                             orange;
    background:                         black;
}
