code, code.wavy {
    color:                         lightgreen;
    background:                         black;
}


code .subject, code.subject {
    color:                             yellow;
}

code .pattern, code.pattern {
    color:                             orange;
}
