rect.set-1   {fill:   #214341;}
rect.set-2   {fill:   #79BEB3;}
rect.set-3   {fill:   #62625E;}

rect.set-4   {fill:   #A4413A;}
rect.set-5   {fill:   #998A7D;}
rect.set-6   {fill:   #C48538;}

rect.set-7   {fill:   #A39092;}
rect.set-8   {fill:   #D99B8E;}
rect.set-9   {fill:   #4E0C0D;}
