html {
    background:                         black;
}

.content {
    text-align:                       justify;
    text-justify:             inter-character;
}

code {
    font-size:                         2.60vw;
    word-break:                     break-all;
    color:                         lightgreen;
    background:                         black;
}
