table, td, th {border:          solid black 1px;
               border-collapse: collapse;}

td            {text-align: right;
               padding-left: 10px;
               padding-right: 10px;
               font-size:     4.5vw}

td.col-2      {padding-left: 30px;}
