table, td, th {border:          solid black 1px;
               border-collapse: collapse;}

td            {text-align: right;
               padding-left: 10px;
               padding-right: 10px;
               font-size:     4.0vw}
