body, html {
    margin:     0px 0px 0px 0px;
    font-size:              5vw;
}

td, th {
    font-size:              5vw;
}

h1:first-of-type {
    font-family:        initial;
    font-size:              4vh;
    text-shadow:           none;
    text-align:          center;
    border:                   0;
    width:                 100%;
    height:                  5%;
    background:            #aa7;
    margin:     0px 0px 0px 0px;
    padding:    1vh 0px 0px 0px;
}


/*
 * Elements to be displayed after hitting space bar
 */
.hidden {
    opacity:                .05;
}

/*
 * Colour elements which have the focus
 */
span.focus {
    color:                  red;
}

pre, pre code {
    font-size:              3vw;
}


code, code.wavy {
    color:                         lightgreen;
    background:                         black;
}


/*
 * subject/pattern should be formatted as a block.
 * With the appropriate colours.
 */
code.subject, .content.subject code, code span.subject {
    color:                             yellow;
}

code.pattern, .content.pattern code, code span.pattern {
    color:                             orange;
}

.content.subject, .content.pattern {
    text-align:                       justify; 
    text-justify:             inter-character;
}

.content.subject code, .content.pattern code {
    word-break:                     break-all;
}
