table#records,
table#records td,
table#records th {
        border: 1px solid black;
        border-collapse: collapse;
}

table#records td {
        padding-left:  .5em;
        padding-right: .5em;
}

table#records td.rinktype {
        text-align: center;
}

table#records td.nation {
        width: 2em;
}

table#records td.nation img {
        width: 100%
}


table#nav_bar,
table#nav_bar td,
table#nav_bar th {
        border: 1px solid black;
        border-collapse: collapse;
}

table#nav_bar td,
table#nav_bar th {
        padding-left:  .5em;
        padding-right: .5em;
}

table#nav_bar th {
        text-align: left;
        text-transform: capitalize;
}

table#nav_bar {
        margin-bottom: 3ex;
}

