table,
table td,
table th {
        border:          1px solid black;
        border-collapse: collapse;
        padding-left:   .5em;
        padding-right:  .5em;
}

table#records td.rinktype {
        text-align: center;
}

td.nation {
        width: 2em;
        padding-left:   0;
        padding-right:  0;
}

td.nation img {
        width: 100%
}

td.duration {
        text-align: right;
}
td.duration span.current {
        color: red;
}

table#records td.time, table#records td.name {
        font-weight: bold;
}


table#nav_bar th {
        text-align: left;
        text-transform: capitalize;
}

table#nav_bar {
        margin-bottom: 3ex;
}

table#rink_type td {
        text-align: center;
}

table#rink_type td.symbol {
        padding-left:  1em;
        padding-right: 1em;
}

tr.low    td.symbol {
        color: #EDC9AF;
}
tr.middle td.symbol {
        color: #DAA06D;
}
tr.high   td.symbol {
        color: #832A0D;
}


table.count td.count {
        padding-right: .5em;
        padding-left: .5em;
        text-align: right;
}


/*
 * Three column layout
 */
h3.number-of-records-header {
        text-align: center;
}
.number-of-records {
        display:         flex;
        justify-content: space-between;
}
.number-of-records h4 {
        text-align: center;
}
