div.trapped {
    height:                90vh;
    display:               grid;
    grid-template-columns: 90vh 1fr;
}

div.board {

}

div.info {

}


circle.unvisited-dot {
    fill:                  gray;
}
circle.visited-dot {
    r:                     0.2px;
    fill:                  black;
}

line {
    stroke-width:          0.05px;
}


button.start {
    margin-top:            1em;
}

button.run {
    width:                 100%;
}
