div.trapped {
    height:                90vh;
    display:               grid;
    grid-template-columns: 90vh 1fr;
    border:                solid black 2px;
}

div.board {
    border-right:          solid black 2px;

}

div.info {

}


a:link {
    color:                 #0066CC;
}
a:visited {
    color:                 blue;
}
a.prev, a.next {
    color:                 black;
}

circle.unvisited-dot {
    fill:                  gray;
}
circle.visited-dot {
    r:                     0.2px;
    fill:                  black;
}
circle.current-dot {
    r:                     0.3px;
    fill:                  red;
}
circle.dot-0-0 {
    r:                     0.3px;
    fill:                  blue;
}


line {
    stroke-width:          0.05px;
}


button.start {
    margin-top:            1em;
}

button.run {
    width:                 100%;
}


span.trapped {
    margin-left:            2em;
}


input.stop {
    width:                  8em;
}

button.speed {
    width:                  4em;
}

td.plus {
    text-align:            right;
}

table.info_table {
    margin-left:            1em;
}

th.title {
    height:                 2em;
    font-size:             140%;
}
