div.trapped {
    height:                90vh;
    display:               grid;
    grid-template-columns: 90vh 1fr;
    border:                solid black 2px;
}

div.board {
    border-right:          solid black 2px;

}

div.info {

}


a:link {
    color:                 #0066CC;
}
a:visited {
    color:                 blue;
}
a.prev, a.next {
    color:                 black;
}

circle.unvisited-dot {
    fill:                  gray;
}
circle.visited-dot {
    r:                     0.2px;
    fill:                  black;
}
circle.current-dot {
    r:                     0.3px;
    fill:                  red;
}
circle.dot-0-0 {
    r:                     0.3px;
    fill:                  blue;
}


line {
    stroke-width:          0.05px;
}


button.start {
    margin-top:            1em;
}

button.run {
    width:                 100%;
}


span.trapped {
    margin-left:            2em;
}


input.stop {
    width:                  8em;
}

button.speed {
    width:                  4em;
}

td.plus {
    text-align:            right;
}

table.info_table {
    margin-left:            1em;
}

th.title {
    height:                 2em;
    font-size:             140%;
}


span.piece {
    font-weight:                  bold;
}


table.boxset {
    margin-left:                   5em;
    margin-right:                  5em;
    margin-top:                    3em;
    border:            1px solid black;
    border-collapse:          collapse;
    font-size:                     67%;
}

table.boxset th {
    text-align:                   left;
    white-space:                nowrap;
    padding-left:               0.25em;
}

table.boxset td {
    padding-left:                  1em;
    padding-right:              0.25em;
}

table.boxset th, table.boxset td {
    border-top:        1px solid black;
}

table.boxset span.self {
    font-weight:                  bold;
}


table.piece_list, table.promotion {
    border:                solid black 2px;
    border-collapse:       collapse;
}

table.piece_list td, table.piece_list th,
table.promotion  td, table.promotion  th {
    border:                solid black 1px;
    padding-left:          0.5em;
    padding-right:         0.5em;
    text-align:            left;
}

table.piece_list tr.row-0 th {
    background:            #D7F4D2;
    border-bottom:         solid black 2px;
}

table.promotion tr.row-0 th {
    background:            #FFDDC7;
    border-bottom:         solid black 2px;
}

table.piece_list td.col-1, table.promotion td.col-0 {
    white-space:          nowrap;
}

span.yes {
    color:                 green;
}

span.no  {
    color:                   red;
}


span.uni_name {
    white-space:          nowrap;
}
