table.logic_puzzle td.solution {
    color:   blue;
}
table.logic_puzzle span.solution {
    visibility: hidden;
}
table.logic_puzzle td.clue {
    background: lightgray;
}

table.logic_puzzle, table.logic_puzzle td {
    border: solid black 1px;
    border-collapse: collapse;
}
table.logic_puzzle td {
    font-size:    4vw;
    width:        5vw;
    height:       4vw;
    padding-top:  1vw;
    text-align:   center;
}

table.logic_puzzle td.lb {border-left:   solid black 5px;}
table.logic_puzzle td.rb {border-right:  solid black 5px;}
table.logic_puzzle td.tb {border-top:    solid black 5px;}
table.logic_puzzle td.bb {border-bottom: solid black 5px;}

table.logic_puzzle {margin-right: 2em;}

/*
 * Puzzle type specific CSS
 */

table.logic_puzzle.light-up td.clue {
    background: black;
    color:      white;
}
table.logic_puzzle.light-up td span.solution {
    font-size:    3vw;  /* The lamp symbol is larger than a normal character */
}
