svg.sudoku {
    fill:                             white;
}

line {
    stroke:                           black;
    stroke-width:                         3;
}


line.boundary {
    stroke-width:                         5;
}


path.border {
    stroke-width:                         8;
    stroke:                           black;
    stroke-linejoin:                  round;
    fill:                              none;
}

rect {
    fill:                             white;
}

rect.highlight {
    fill:                           #d0ffff;
}

rect.house {
    fill:                           #b0b0ff;
}

rect.even_clue, rect.house {
    rx:                                20px;
    ry:                                20px;
}

text {
    font-size:                         100%;
}

text.clue {
    fill:                             black;
}

text.solution {
    fill:                           #0000ff;
}

text.row-number, text.col-number {
    font-size:                          90%;
}

text.cell-number {
    font-size:                          70%;
}


polyline {
    stroke-width:                      15px;
    stroke-linecap:                   round;
    stroke-linejoin:                  round;
    fill:                              none;
}

polyline.renban {
    stroke:                         magenta;
    stroke-opacity:                     50%;
}


circle.odd_clue, rect.even_clue {
    fill:                              gray;
    opacity:                            50%;
}
